<div class="form-container">
  <h2 class="ui icon header">
    <i class="gift icon"></i>
    <div class="content">
      <span>Donate</span>
      <div class="sub header">Lorem ipsum dolor sit amet.</div>
    </div>
  </h2>
  <form class="ui form" [formGroup]="stripeTest" (ngSubmit)="buy($event)" novalidate>
    <div class="field">
      <input type="text" name="name" formControlName="name" placeholder="Name">
    </div>
    <div class="field">
      <div id="card-element" class="field" #card></div>
    </div>
    <button type="submit" class="ui primary button">Donate</button>
  </form>
</div>
