<!-- <form novalidate (ngSubmit)="buy($event)" [formGroup]="stripeTest">
  <input type="text" formControlName="name" placeholder="Jane Doe">
  <div id="card-element" class="field" #card></div>
  <button type="submit">
    BUY
  </button>
</form> -->

<div class="form-container">
  <form class="ui form" [formGroup]="stripeTest">
    <div class="field">
      <input type="text" name="name" formControlName="name" placeholder="Name">
    </div>
    <div class="field">
      <div id="card-element" class="field" #card></div>
    </div>
    <button class="ui primary button">Donate</button>
  </form>
</div>
